extends ../layouts/common.pug

block content
	h1 users
	.d-flex.align-items-center
		a.btn.btn-primary(href="/users/create") news
		form.ml-auto(action ="/users/search", methos="GET", class="d-flex")
			input(type="text", name="q", class="form-controlle")
			button(class="btn btn-primary ml-2") Search
	table.table
		tr
			th Avatar
			th Name
			th Phone
			th Actions
		each user in users
			tr
				td
					img(src=user.avatar, style="width: 64px;")
				td= user.name
				td= user.phone
				td
					a.btn(href="/users/" + user.id) View

